<section id="contact">
    <h2>Contact</h2>
    <p>Email: ru$dot$zhu$at$northeastern$dot$edu</p>
    <p>Office: Hayden Hall, 202</p>
    <p>Address: Northeastern University, Marketing Department, 360 Huntington Avenue, Boston, MA 02115, USA</p>
    <div class="social-links">
        <a href="https://github.com/rzhz">GitHub</a>
        <a href="https://scholar.google.com/citations?user=07D63aYAAAAJ&hl=en">Google Scholar</a>
        <a href="https://www.linkedin.com/in/ruizhi-zhu">LinkedIn</a>
    </div>
</section>
