<header id="home">
    <div class="profile-container">
        <img src="assets/img/profile_rz.JPG" alt="Profile Picture" class="profile-image">
    </div>
    <div class="container">
        <h1>Ruizhi Zhu</h1>
        <p>Postdoctoral Research Associate • Marketing Department • Northeastern University</p>
        <p>I'm a Postdoctoral Research Associate at Northeastern University. My research interest lies in information
           transmission and privacy, platform economy, digital marketing and marketing strategy. My current 
           research examines how the creation of virtual brands by the firm and the selective recommendation by the 
           platform interact with each other under different privacy environment and the welfare consequences on consumers, 
           the firm and the platform.</p>
    </div>
</header>
